.home {
  width: 100%;
  height: 70vh;
}

.carousel_item {
  img {
    width: 100%; /* chiều cao cố định cho tất cả ảnh */
    height: 680px;
    object-fit: contain; /* cắt ảnh cho vừa khung, không méo */
  }

  .carousel_caption {
    margin-bottom: 20px;
  }

  p {
    font-weight: 500;
  }
}
